# EditorConfig — enforce UTF-8 encoding for all files
# https://editorconfig.org

root = true

[*]
charset = utf-8-bom
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = false

[*.{html,js,css,json}]
charset = utf-8-bom

[*.md]
trim_trailing_whitespace = false
